<h1>TinyApp</h1>

    <% if(user_id === undefined) { %>
    <a href="/login">Login</a> 
    <a href="/register">Register</a>

    <% } else { %>
        <a href="/urls">URLs</a> | <a href="/urls/new">Create New Tiny URL</a>
        <form method="POST" action="/logout">
            <h5>Logged In As: </a><%= email %></h5>
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    <% } %>