<h1>TinyApp</h1>
<form method="POST" action="/login">
      <h5>Username: </h5>
      <input class="form-control" type="text" name="username"> 
      <p><%= username %></p>
      <button type="submit" class="btn btn-primary">Login</button>
</form>